:root {
    --button-color: rgba(66,133,244,255);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

p{
    font-size: 20px;
    color: #333;
    max-width: 300px;
    line-height: 1.5;

}

.navbar {
    background-color: white;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display:flex;
}

.nav-link {
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    color: black;
    background-color: transparent;
}

.nav-link:hover:not(.active) {
    background-color: rgb(213, 222, 224);
}

.active {
    background-color: var(--button-color);
    color: white;
}

.title {
    /*Step 8: Style .title class*/
    font-size: 30px;
    font-weight: 100;

}

.jokeAPI-background{
    /*Step 10: Change Background Color to rgba(218, 248, 255, 255)*/
    background-color: rgba(218,248,255,255);
    background-image: url("./images/jokebg.png");
    background-repeat: repeat;
}

.container {
    /*Step 12: Style .container class */
    background-color: white;
    padding: 5rem;
    border-radius: 20px;
    text-align: center;
    box-shadow: 10px 10px 10px 10px rgba(5, 18, 211, 0.171);
}       

.jokeButton {
    /*Step 14: Style button class */
    background-color: var(--button-color);
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 24px;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    outline-color: var(--button-color);
    outline-width: 5px;
    outline-style: solid;
    outline-offset: -5px;

    transition: background-color 0.3s, color 0.3s;
}

.jokeButton:hover {
    background-color: white;
    
    color: var(--button-color);
}

.jokeButton:active {
    transform: translateY(5px);
}